tmp/tmp
[{"id":"6600c675.c10098","type":"velbus-raw-bytes","z":"299a7d60.bd7df2","name":"Time sync","serial":"41eb4970.a66cb8","bytes":"0x0F 0xFB 00 0x04 0xD8 {{day}} {{hours}} {{minutes}} 0 0x04","x":550,"y":440,"wires":[[]]},{"id":"cddf1cb.bccc3e","type":"inject","z":"299a7d60.bd7df2","name":"Each 24 hrs","topic":"","payload":"","payloadType":"date","repeat":"86400","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":440,"wires":[["81ccfad0.b72a08"]]},{"id":"3ffca2c5.34604e","type":"debug","z":"299a7d60.bd7df2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":510,"y":400,"wires":[]},{"id":"81ccfad0.b72a08","type":"function","z":"299a7d60.bd7df2","name":"To date obj","func":"var now = new Date(msg.payload);\n\nreturn {\n    day: now.getDay() || 7 - 1, //monday first! \n    hours: now.getHours(),\n    minutes: now.getMinutes()\n};","outputs":1,"noerr":0,"x":320,"y":440,"wires":[["3ffca2c5.34604e","6600c675.c10098"]]},{"id":"41eb4970.a66cb8","type":"velbus-config","z":"","serial":"/dev/ttyACM0"}]